{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "footballstats/header.css" %}">
{% endblock css_files %}

<div class="navbar">
<header>
    <nav>
        <a href="{% url "teams" %}">Home</a>
    </nav>
    <nav>
        <a href="{% url "teams" %}">Teams</a>
    </nav>
    <nav>
        <a href="{% url "players" %}">Players</a>
    </nav>
    <nav>
        <a href="{% url "matches" %}">Matches</a>
    </nav>
    <nav>
        <a href="">Statistics</a>
    </nav>
    <nav>
        <a href="">About</a>
    </nav>
</header>
</div>