{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "footballstats/footballstats.css" %}">
{% endblock css_files %}

{% block page_title %}
Matches
{% endblock page_title %}

{% block content %}
{% include "footballstats/includes/header.html" %}
<h1>Matches</h1>

<div class="content">
    <div class="tabdiv-head">
        <form action="{% url "matches" %}" method="post">{% csrf_token %}
            <label for="season">Season:</label>
            <select name="season" id="season">
                {% for season in seasons  %}
                <option value="{{ season.season_id }}">{{ season }}</option>
                {% endfor %}
            </select>
            <label for="matchday">Matchday:</label>
            <select name="matchday" id="matchday">
                {% for matchday in matchdays %}
                <option value="{{ matchday }}">{{ matchday }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="tabdiv-body">
        <table class="content-tab matches-tab">
            <colgroup>
                <col><col><col><col><col>
            </colgroup>
            <thead>
                <tr>
                    <th>MD</th>
                    <th>Home team</th>
                    <th>Away team</th>
                    <th>Result</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                    <tr>
                        <td>{{ match.matchday }}</td>
                        <td>{{ match.home_team }}</td>
                        <td>{{ match.guest_team }}</td>
                        <td>{{ match.home_score }} : {{ match.guest_score }}</td>
                        <td>{{ match.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}