{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "footballstats/footballstats.css" %}">
{% endblock css_files %}

{% block page_title %}
Matches
{% endblock page_title %}

{% block navigation %}
{% include "footballstats/includes/header.html" %}
{% endblock navigation %}


{% block content %}

<h1>Matches</h1>
<div class="tabdiv-head">
    <form action="{% url "matches" %}" method="post">
        {% csrf_token %}
        <label for="season">Season:</label>
        <select name="season" id="season" onchange="this.form.submit()">
            {% for s in seasons  %}
            <option value="{{ s.season_id }}" {% if s.season_id == season %} selected="selected" {% endif %}>
                {{ s }}
            </option>
            {% endfor %}
        </select>
        <label for="matchday">Matchday:</label>
        <select name="matchday" id="matchday" onchange="this.form.submit()">
            {% for mday in matchdays %}
            <option value="{{ mday }}" {% if mday == matchday %} selected="selected" {% endif %}>
                {{ mday }}
            </option>
            {% endfor %}
        </select>            
    </form>
</div>
<div class="tabdiv-body">
    <table class="content-tab matches-tab">
        <colgroup>
            <col><col><col><col><col>
        </colgroup>
        <thead>
            <tr>
                <th>MD</th>
                <th>Home team</th>
                <th>Away team</th>
                <th>Result</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
                <tr>
                    <td>{{ match.matchday }}</td>
                    <td>{{ match.home_team }}</td>
                    <td>{{ match.guest_team }}</td>
                    <td>{{ match.home_score }} : {{ match.guest_score }}</td>
                    <td>{{ match.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}