{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "footballstats/footballstats.css" %}">
{% endblock css_files %}

{% block page_title %}
Players
{% endblock page_title %}

{% block navigation %}
{% include "footballstats/includes/header.html" %}
{% endblock navigation %}

{% block content %}

<h1>Players</h1>
<div class="tabdiv-head">
    <form action="{% url "players" %}" method="POST">
        {% csrf_token %}
        <label for="team">Team:</label>
        <select name="team" id="team" onchange="this.form.submit()">
            {% for t in teams  %}
            <option value="{{ t.club_id }}" {% if t.club_id == team %} selected="selected" {% endif %}>
                {{ t }}
            </option>
            {% endfor %}
        </select>
        <label for="season">Season:</label>
        <select name="season" id="season" onchange="this.form.submit()">
            {% for s in seasons  %}
            <option value="{{ s.season_id }}" {% if s.season_id == season %} selected="selected" {% endif %}>
                {{ s }}
            </option>
            {% endfor %}
        </select>
    </form>
</div>
<div class="tabdiv-body">
    <table class="content-tab players-tab">
        <colgroup>
            <col><col><col><col>
        </colgroup>
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Nationality</th>
                <th>Date of birth</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.firstname }}</td>
                    <td>{{ player.surname }}</td>
                    <td>{{ player.nationality }}</td>
                    <td>{{ player.date_of_birth }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}