{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "footballstats/footballstats.css" %}">
{% endblock css_files %}

{% block page_title %}
Teams
{% endblock page_title %}


{% block content %}
{% include "footballstats/includes/header.html" %}
<h1>Team list</h1>

<div class="content">
    <table class="teams-tab">
        <thead>
            <tr>
                <td>Name</td>
                <td>Website</td>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team }}</td>
                    <td><a href="{% url "team-base" team %}">Website</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
