{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "footballstats/footballstats.css" %}">
{% endblock css_files %}

{% block page_title %}
Club - {{ team }}
{% endblock page_title %}

{% block content %}
{% include "footballstats/includes/header.html" %}
<h1>Club details</h1>

<div class="content">
    <table class="content-tab team-tab">
        <colgroup>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>{{ team.club_name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Headquarter</td>
                <td>{{ team.headquarter|title }}</td>
                {% comment %} <td><a href="{% url "team-base" team %}">Website</a></td> {% endcomment %}
            </tr>
            <tr>
                <td>President</td>
                <td>{{ team.president|title }}</td>
            </tr>
            <tr>
                <td>Coach</td>
                <td>{{ team.coach|title }}</td>
            </tr>
            <tr>
                <td>Assistant Coach</td>
                <td>{{ team.assistant_coach|title }}</td>
            </tr>
            <tr>
                <td>Stadium</td>
                <td>{{ team.stadium|title }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}